.App {
  text-align: center;
}

.single-tour{
  width: 500px;
  margin: auto;
  padding: 1%;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  box-shadow: 1px 3px 5px rgb(138, 183, 190);
}

img{
  width: 500px;
  height: 350px;
}

p{
  text-align: left;
}

.tour-info{
  display: flex;
  justify-content: space-around;
}

h4{
  color: rgb(84, 57, 235);
}

.show{
  border-style: none;
  background-color: white;
  color: dodgerblue;
  font-weight: bold;
  cursor: pointer;
}

.delete{
  border: 2px solid rgb(230, 108, 108);
  width: 300px;
  padding: 0.5rem;
  color: black;
  cursor: pointer;
  background: rgb(224, 212, 212);
}

.refresh{
  border: 2px solid rgb(81, 167, 70);
  width: 300px;
  padding: 0.5rem;
  color: black;
  cursor: pointer;
  background-color: rgb(224, 212, 212);
}